<!DOCTYPE html>
<html lang="en">
<% include layout/head %>

<body>
    <% include layout/nav %>
        <div class="container">
            <div class="row mt-4">
                <div class="col-10 offset-1">
                    <div class="jumbotron">
                        <h1 class="display-4">첫번째 익스프레스 페이지입니다.</h1>
                        <p class="lead">이 사이트는 심플한 익스프레스 사이트 입니다.</p>
                        <hr class="my-4">
                        <p>귀찮아요.</p>
                        <a class="btn btn-primary btn-lg" href="/top20" role="button">보러가기</a>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>